doctype
html
    title #{title}

    header
        link(rel='stylesheet' href='//cdn.datatables.net/1.10.3/css/jquery.dataTables.css')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='//cdn.datatables.net/1.10.3/js/jquery.dataTables.js')
        script.
            $(document).ready(function(){
                $('.pbutton').click(function(){
                    var eid = $(this).closest('tr').find('td:first').text();

                    //IF NOT LOGGED IN, RETURN!!!!!
                    $form = $("<form action='/purchaseForm' method='POST'></form>");
                    $form.append('<input type="hidden" name="event_id" value=' + eid + '/>');
                    $form.submit();
                });
            });


    body
        h2 Search results
        - if (res.length > 0)
            table.obj(id="table_id")
                thead
                    tr
                        - if (typeof res[0].event_id == "undefined") {
                           th= "Name"
                           th= "Info"
                        - } else {
                           th= "Event ID" 
                           th= "Event Name"
                           th= "Venue"
                           th= "Date"
                           th= "Available Tickets"
                           th= "Price"
                           th= "Artist"
                           th= ""
                        - }
                tbody
                    for item in res
                        tr
                            for value in item
                                td= value
                            - if (typeof res[0].event_id != "undefined")
                                td
                                    button#btnPurchase(type='button', class="pbutton") Purchase
                - if (typeof res[0].event_id != "undefined")
                    script
                        $('#table_id').DataTable({"aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }]}); 
                - else 
                    script
                        $('#table_id').DataTable();
        - else 
            p No results found